body {
    font-family: 'Roboto', sans-serif;
    font-Size: 15px;
}

div {
    /* border: 1px solid #666; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Yesteryear', cursive;
}

h1 {
    Font-Size: 50px;
}

.tag {    
    display: inline-block;
    margin: 2px;
    padding: 7px 10px;
    border: 1px solid white;
    border-radius: 4px;
    color:#fff;
    font-weight: normal;
    -webkit-box-shadow: 0px 0px 2px -1px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 2px -1px rgba(122,122,122,1);
    box-shadow: 0px 0px 2px -1px rgba(122,122,122,1);
    text-transform: uppercase;
    font-size: 14px;
}

.tag:hover {
    background:#3f3d64 !important;
}

.topicDiv {
    display: inline-block;
    float: left;
    margin-right: 40px;
}

#run-search {
    border: 1px solid white;
    border-radius: 3px;
    color:#fff;
    font-weight: bolder;
    background:#3f3d64;
    padding: 5px 12px;
}

.btn-grad {
    background: #666;
}

.btn-grad:hover {
    background: #3f3d64; 
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
}

.page-header {
    background-color:#666;
    background-image: url("../../assets/images/blk-dot.jpg");
    background-repeat: repeat-x;
    background-position: top left;
    color: #fff;
    padding-top: 12px;
    margin-bottom: 4px;
    border-bottom: 8px solid #ccc;
    border-top: 3px solid #333;
}

h1 {
    padding: 23px 0 16px 0;
    width: 358px;
    display: inline-block;
}

.clicky {
    border: 1px solid white;
    max-width: 90%;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 6px -1px rgba(122,122,122,1);
    box-shadow: 0px 0px 6px -1px rgba(122,122,122,1);
}


#search {
    text-align: right;
}

label {
    margin-bottom: 8px;
}

.topic-image {
    /* border: 1px solid red; */
    width: 50%;
    max-width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    height: 226px;
}

.meta {
    margin: 4px 0;
}

#tags {
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
    padding-bottom: 4px;
}

#controls {
    height: 50px;
}

form {
    /* background: #fff;
    padding: 10px;
    border-radius: 10px; */
}

#show {
    width: 300px;
    float: right;
    text-align: right;
    margin: 34px 0 0;
}

#add {
    background: #3f3d64;
    color: #fff;
    font-weight: bold;
}